<style>
    html {
        overflow-y: hidden;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 8px !important;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .material-icons-outlined {
        font-family: 'Material Icons';
    }
</style>
<div class="dashboard-div">
    <div class="hello-div">
        <span class="material-icons-outlined">
            home
        </span>
        <br>
        <h2>Dashboard<span>.</span></h2>
        <p>Welcome to our dashboard.</p>
    </div>
    <h1>MetaWorks</h1>
    <div class="prof-div">
        <div class="log-info">
            <span class="material-icons-outlined" id="log">
                account_circle
            </span>
            <div class="powerup"></div>
            <h2><%=user.username%></h2>
            <h5>
                <%= user.role %>
            </h5>
            <div class="status-icon"></div>
            <div class="user-s">
                <div class="energy">
                    <span class="material-icons-outlined">
                        flash_on
                    </span>
                    <%= energy_per %>%
                </div>
                <div class="money">
                    $ <%= user.money %>
                </div>
            </div>
        </div>

        <div class="button-div">
            <div class="icons-1">
                <div class="suit">
                    <span class="material-icons-outlined">
                        work
                    </span>
                    <br>
                    work
                </div>
                <div class="complain">
                    <span class="material-icons-outlined">
                        error
                    </span>
                    <br>
                    complain
                </div>
            </div>
            <div class="icons-2">
                <div class="rest">
                    <span class="material-icons-outlined">
                        airline_seat_flat
                    </span>
                    <br>
                    rest
                </div>
                <div class="repo">
                    <span class="material-icons-outlined">
                        star
                    </span>
                    <br>
                    request
                </div>
            </div>
        </div>
    </div>
    <div class="curr-div">
        <div class="curr-line"></div>
        <h2>Recent Activity</h2>
        <% if(activity_list.length >0){ %>
        <ul class="timeline-list">
            <% for( let index = 0; index < activity_list.length; index++ ) { %>
            <h4>
                <%= activity_list[index].name %>
            </h4>
            <li><% if (activity_list[index].money) { %>
                <span class="material-icons-outlined" id="m">
                    monetization_on
                </span>
                <p>
                    Current Balance: <%=user.money %>
                </p>
                <div class="note-s">
                    <!-- +<span class="material-icons-outlined">
                                attach_money
                            </span> -->
                    <%if(activity_list[index].money > 0) {%>+<%=activity_list[index].money%>$<%}else{%><%=activity_list[index].money%>$<%}%>
                        </div>
                    <%}%>
            </li>
            <li>
                <% if(activity_list[index].energy) { %>
                <span class="material-icons-outlined" id="o">
                    offline_bolt
                </span>
                <p>
                    Current Energy: <%= energy_per %>%
                </p>
                <div class="note-o">
                    <%= Math.round(( activity_list[index].energy / user.maxEnergy)*100 ) %>%
                </div>
                <% } %>
            </li>
            <li>
                <% if(activity_list[index].reputation) { %>
                <span class="material-icons-outlined" id="c">
                    circle_notifications
                </span>
                <p>
                    Rewarded <%= activity_list[index].reputation %> points
                </p>
                <% } %>
            </li>
            <%}%>
            <%} else {%>
            <h5>No Activity :(</h5>
            <%}%>
        </ul>
    </div>
    <div class="job-stats">
        <div class="curr-line"></div>
        <h2>Job Reputation</h2>
        <div class="rate">
            <span class="material-icons-outlined" >
                star
            </span> 
               <p><%= user.reputation %></p> 
            <br>
    </div>
    <div class="graph-div">
        <div class="l"></div>
        <h3>
            Work Hours <span>coming soon</span>
        </h3>

    </div>
</div>
<div class="nav-dash">
    <ul class="nav-dash-ul">
        <li><a href="/dashboard/market" id="a-1">Market</a></li>
        <li><a href="/dashboard" id="a-2">Dashboard</a></li>
        <li><a href="/leaderboard" id="a-3">Leaderboard</a></li>
    </ul>
</div>
<div class="log-dash-i"></div>
<div class="user-blob">
    <span>
        <a href="/logout" class="logout">Logout</a>
    </span>
</div>
<div class="user-prof-icon">
    <div class="line-div">
        <div class="line-1"></div>
        <div class="line-2"></div>
    </div>
    <div class="line-div-1">
        <div class="line-1"></div>
        <div class="line-2"></div>
    </div>
</div>
</div>
<div class="modal-div">
    <div class="modal">
        <button class="close">
            <span class="material-icons-outlined">
                close
            </span>
        </button>
        <form action="/dashboard/complain" method="post">
            <input type="text" name="complaint" id="complain" placeholder="Enter your complain here">
            <!-- dropdwon list -->
            <select name="type">
                <option value="1">Working Conditions</option>
                <option value="2">Work Load</option>
            </select>
            <input type="submit" id="submit" value="Submit">
        </form>
    </div>
    <div class="modal-1">
        <button class="close-1">
            <span class="material-icons-outlined">
                close
            </span>
        </button>
        <form action="/dashboard/request" method="post">
            <input type="text" name="request" id="request" placeholder="Enter your request here">
            <select name="type">
                <option value="1">Pay Raise</option>
                <option value="2">Promotion</option>
            </select>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
</div>
<script src="./js/app.js"></script>
<!-- <h1>hello</h1>
<a href="/dashboard/work">Work</a> -->
