<style>
    html {
        overflow-y: hidden
    }
</style>
<div class="market-div">
    <h1>Metaworks</h1>
    <div class="user-blob">
        <span class="prof">
            <a href=''>Profile</a>
        </span>
        <div class="line"></div>
        <span>
            <a href="/logout" class="logout">Logout</a>
        </span>
    </div>
    <div class="cart-div">
        <span class="material-icons-outlined">
            local_grocery_store
        </span>
        <h2>Shop<span>.</span> </h2>
        <!-- <form action="/dashboard/market/money" method="post">
            <button type="submit">Buy</button>
        </form> -->
        <!-- <form action="/dashboard/market/energy" method="post">
            <button type="submit">Buy</button>
        </form> -->
        <p>Purchase and experience new powerups</p>
    </div>
    <div class="user-stats-div">
        <div class="money">
            $
            <%= user.money %>
        </div>
        <div class="energy">
            <span class="material-icons-outlined">
                flash_on
            </span>
            <%= energy_per %>%
        </div>
        <div class="reputation">
            <span class="material-icons-outlined">
                star
            </span>
            <%= user.reputation %>
        </div>
    </div>
    <div class="market-h2">
        <div class="line-d"></div>
        <h2>
            Currently Using
        </h2>
    </div>
    <%if (typeof power == 'undefined') {%>
    <div class="market-banner">
        <div class="circle">
            <span class="material-icons-outlined">
                expand_less
            </span>
            <span class="material-icons-outlined" style="margin-top: 1.25vw; margin-left: 1.5vw;">
                expand_less
            </span>
        </div>
        <span class="material-icons-outlined" id="shield">
            shield
        </span>
        <div class="powerup-info">
            <h2>
                No Power Ups!
            </h2>
            <button disabled>
                Activate
            </button>
        </div>
    </div>
    <%} else{%>
    <div class="power-up-div">
        <form class="power-form" method="post">
            <button type="submit">Buy</button>
        </form>
    </div>
    <div class="powers">
        <%if (power == 'energy'){%>
            <div class="power-card">
                <br>
                <span class="material-icons-outlined">
                    bolt
                </span>
                <br>
                <h2><%=power%></h2>
            </div>
        <%} else if (power == 'money'){%>
            <div class="power-card">
                <br>
                <span class="material-icons-outlined">
                    monetization_on
                </span>
                <br>
                <h2><%=power%></h2>
            </div>
        <%} else if (power == 'repo'){%>
            <div class="power-card">
                <br>
                <span class="material-icons-outlined">
                    star
                </span>
                <br>
                <h2><%=power%></h2> 
            </div>
        <%}%>
    </div>
    <%}%>
    <div class="currency-shop-div"></div>
    <div class="nav-dash">
        <ul class="nav-dash-ul">
            <li><a href="/dashboard/market" id="a-1">Market</a></li>
            <li><a href="/dashboard" id="a-2" >Dashboard</a></li>
            <li><a href="/leaderboard" id="a-3">Leaderboard</a></li>
        </ul>
    </div>
    <div class="user-prof-icon">
        <div class="line-div">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
        <div class="line-div-1">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
    </div>
</div>
<script>
    var a = Math.floor(Math.random()*3 +1 )
    var b = document.querySelector('.power-form')
    switch(a){
        case 1:
            b.setAttribute('action','/dashboard/market/repo')
            break;
        case 2:
            b.setAttribute('action','/dashboard/market/money')
        case 3:
            b.setAttribute(
                'action','/dashboard/market/energy'
            )
    }
</script>
<script src="/js/app.js"></script>
<!-- <h1>
    Metaworks
</h1> -->