<style>
    html{
        overflow-y: hidden;
    }
</style>
<div class="result-div">
    <h2>Result</h2>
    <br>
    <div class="res-span">
        <p>Money : <%= money %> <%if(increase>0) {%> (+<%= increase %>)</p><%} else {%> (<%= increase %>)<%}%>
        <p> Energy : <%=energy%></p>
        <p> Correct : <%=correct%> </p>
    </div>
    <br>
    <a href="/dashboard">Back</a>
</div>
